<a href="https://colab.research.google.com/github/BiriiCastro/580003-OOP/blob/main/Control_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

if, elif and else Condition

In [ ]:
a = 5
b = 3 

if b > a:
  print("Three is greater than Five")
elif b < a:
  print("Three is less than Five")
else:
  print("Three is equal Five")

In [7]:
print("Type the grade level of the Student")
print("1 - 6 == Elementary")
print("7 - 12 == Secondary")
print("Any number aside from 1 - 12 == Trtiary")

x = int(input("Enter the Code: "))

if x <= 6 and x >= 1:
  print("You are a Elementary Level Student") 
elif x <= 12 and x >= 7:
  print("You are a Secondary Level Student")
else:
  print("You are a Tertiary Level Student")

Type the grade level of the Student
1 - 6 == Elementary
7 - 12 == Secondary
Any number aside from 1 - 12 == Trtiary
Enter the Code: 0
You are a Tertiary Level Student

Short Hand if statement

In [ ]:
c = 223
d = 330

if d > c: print("D is greater than C")

Short Hand if..else statement

In [10]:

print("A") if c > d else print("B")

A

Or-at lesat one condition

In [ ]:
x = 200
y = 33
z = 500

if x > y or x > z:
  print("X is the highest")

Nested if

In [13]:
x = 41

if x > 10:
  print("Above ten,")

  if x > 20:
    print("and also above 20!")
    if x > 30:
      print("and also above 30!")
      if x > 40:
        print("and also above 40!")
        if x > 50:
          print("and also above 50!")
        else: 
          print("and is below 50!")

Above ten,
and also above 20!
and also above 30!
and also above 40!
and is below 50!

In [19]:
x = 41

if x > 10:
  print("Above ten,")

  if x > 20:
    print("and also above 20!")
    
    if x > 30:
      print("and also above 30!")
      
      if x > 40:
        print("and also above 40!")

        if x > 50:
          print("and also above 50!")
        else: 
          print("and is below 50!")

      else:
        print("and is also Below 40")

    else:
      print("ans is also Below 30!")

  else:
    print("and is also Below 20!")

else:
  print("Below ten")

Above ten,
and also above 20!
and also above 30!
and also above 40!
and is below 50!

Program that determies if the input age is qualified to vote or not. qualifying age is 18 year old

In [23]:
age = int(input("Enter your age: "))

if age >= 18: 
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

Enter your age: -15
You are not qualified to vote

program that determines if Positive, negative or Zero

In [28]:
num = int(input("Enter a Number: "))

if num >= 1:
  print(num, "is a P-ositive number")
elif num <= -1:
  print(num, "is a Negative number")
else: 
  print(num, "is ZERO")

Enter a Number: -1536
-1536 is a Negative number

grade >= 70 "Passed"
grade is 65 to 69 "Remedial"
grade < 64 or below"Failed"
if the grade is negative, it will not accept

In [39]:
grade = int(input("Enter your Grade: "))

if grade >= 70:
  print("Passed")

elif grade >= 65 and grade <= 69:
  print("Remedial")

elif grade <= 64 and grade >= 0:
  print("Failed")

else:
  print("ERROR: You've Entered a negative number")

Enter your Grade: -1
ERROR: You've Entered a negative number