<a href="https://colab.research.google.com/github/BiriiCastro/580003-OOP/blob/main/Demo01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python Fundamentals

In [2]:
#Python Indentation

if 5 > 2:
  print("Five is greater than Two")

Five is greater than Two

In [17]:
x = 5
y = 5.5

if x > y:
  print(x, "is greater than", y)
elif x < y:
  print(x, "is less than", y)
else:
  print(x, "is equal to", y)

5 is less than 5.5

In [14]:
#Python variable wiht multiple values

a, b, c = 0, -1, 2

print("a is", a)
print("b is", b)
print("c is", c)

a is 0
b is -1
c is 2

In [20]:
print(a)
print(x)

0
4

In [22]:
#Single variable with multiple values

d = e = f = 4

print(d)
print(e)
print(f)

4
4
4

In [24]:
print(type(a))
print(type(y))

<class 'int'>
<class 'float'>

In [30]:
#Output Variable
g = "enjoying"
print("Programming is " + g)

Programming is enjoying

In [36]:
g = 'enjoying'
h = "Programming is"
print(h, g)
print(h + g)

Programming is enjoying
Programming isenjoying

In [41]:
def myFunction():
  return False

print(myFunction())

False

In [38]:
i = 3
j = 4

print(i == j)
print(i != j)

False
True

In [42]:
def myFunction():
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [39]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True

In [43]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(10 % 5)
print(10 // 5)
print(10 ** 5)

15
5
50
2.0
0
2
100000