<a href="https://colab.research.google.com/github/BiriiCastro/580003-OOP/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
fruits = ["banana", "apple", "strawberry", 1, 3, 2]

print(fruits)

fruits.insert(2, 2)

print(fruits)

fruits.append(5)

print(fruits)

['banana', 'apple', 'strawberry', 1, 3, 2]
['banana', 'apple', 2, 'strawberry', 1, 3, 2]
['banana', 'apple', 2, 'strawberry', 1, 3, 2, 5]

In [ ]:
def persons:
  pass # means no method

In [12]:
class persons:
  def __init__(self, name, age):   #__init__ 
    self.name =  name
    self.age = age

student = persons("anna", 20)
teacher = persons("maam sayo", 40)
print(student.name, student.age)

print(teacher.name, teacher.age)

anna
20
maam sayo
40

solve for the area of triagle

In [36]:
class shapes:
  def __init__(self, length, width):
    self.length = length
    self.width = width
  
  def area(self):
    return self.length * self.width
  
rectangle = shapes(10, 5)
rectangle.area()

50

List

In [56]:
# append - insert item after the last item in the list

list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

list.append(10)

print("append",list)

list.insert(0, 0)

print("insert", list)

list.remove(5)

print("remove", list)

list.pop(1)

print("pop", list)

del list[0]

print("del", list)

list.clear()

print("clear", list)

append [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
insert [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
remove [0, 1, 2, 3, 4, 6, 7, 8, 9, 10]
pop [0, 2, 3, 4, 6, 7, 8, 9, 10]
del [2, 3, 4, 6, 7, 8, 9, 10]
clear []

Dictionary { }

In [59]:
var = "Hello World!"

varDict = {"first":123, 
           2:"abc", 
           "3":var, 
           4:["lista", "listb"],
           }

print(varDict)

{'first': 123, 2: 'abc', '3': 'Hello World!', 4: ['lista', 'listb']}

In [60]:
# if may magkamukha

var = "Hello World!"

varDict = {"first":123, 
           2:"abc", 
           "3":var, 
           4:["lista", "listb"],
           2:"def"
           }

print(varDict)

{'first': 123, 2: 'def', '3': 'Hello World!', 4: ['lista', 'listb']}

Slicing

In [61]:
b = "Hello World!"
print(b[2:5])

llo

In [74]:
varlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#          0  1  2  3  4  5  6  7  8   9

print(varlist[:5]) # list[: start]

print(varlist[3:]) # list[end :]

print(varlist[:-2]) # list[: start]

print(varlist[:-1]) # list[: start]

print(varlist[-2:])

print(varlist[2:-2])

print(varlist[2:8:2])

[1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]

In [64]:
print(varlist[:2])

[1, 2]