<a href="https://colab.research.google.com/github/BiriiCastro/580003-OOP/blob/main/Looping_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loop

In [7]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday",  "Saturday" ]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Nested For loop

In [3]:
adjective = ["big", "tasty", "juicy"]
fruits = ["banana", "apple", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

big banana
big apple
big cherry
tasty banana
tasty apple
tasty cherry
juicy banana
juicy apple
juicy cherry

Break Statement within For loop

In [6]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday",  "Saturday" ]

for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Print only Thrusday using break statement

In [9]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday",  "Saturday" ]

for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

Print Sunday, Monday, Tuesday, Wednesday, Thursday

In [11]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday",  "Saturday" ]

for x in week:
  if x == "Friday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday

Looping through string

In [12]:
for x in "Philippines":
  print(x)

P
h
i
l
i
p
p
i
n
e
s

In [17]:
vowels = ["a", "i", "u", "e", "o"]

for x in "Philippines":
  if x == vowels:
    print(x)

While looop

In [15]:
i = 1 

while i <= 6:
  print(i)
  i += 1           ## same as " i = i + 1"

1
2
3
4
5
6

While loop using break statement

In [22]:
i = 0

while i < 6:
  if i == 4:  ## display only "4"
    print(i)
    break
  i += 1

4

Application 1:Display Hello and a Number

In [23]:
x = "Hello"
y = 0

while y <= 10:
  print(x, y)
  y += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [25]:
word = ["Hello"]
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for x in word:
  for y in num:
    print(x, y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2: Create a python program that displays integers less than 10 but not less than 3

In [12]:
i = 4

while i > 3:
  if i < 10:
    print(i)
    if i == 9:
      break
  i += 1

4
5
6
7
8
9

In [19]:
i = 0

while i == 0:
    i += 3
    while i == 3:
      i += 1
      if i < 10:
        print(i)
        if i == 9:
          break

4