<a href="https://colab.research.google.com/github/BiriiCastro/580003-OOP/blob/main/Operations_and_Expression_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
print(10 > 9)

print(10 < 9)

print(10 == 9)

True
False
False

In [4]:
print(bool("Hello"))

print(bool(15))

True
True

In [8]:
bool(False)
bool(None)
bool(0)
bool("")       
bool(())
bool([])
bool({})

False

In [9]:
print(bool(1))
print(bool(-1))
print(bool("Billy"))
print(bool(0))

True
True
True
False

Functions can return a Boolean

In [10]:
def myFunction():
  return True

print(myFunction())

True

In [15]:
def myFunction():
  return True 

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python Operators

In [17]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(10 % 5)
print(10 // 3) ##Floor division if 10 / 3 = 3.33... if 10 // 3 = 3(only the whole number)
print(10 ** 2)

15
5
50
2.0
0
3
100

Pyhton Bitwise Operators

In [27]:
a = 60
b = 13

##  AND
print(a & b)
# 0 0 1 1  1 1 0 0
# 0 0 0 0  1 1 0 1
# 0 0 0 0  1 1 0 0

## OR
print(a | b)
# 0 0 1 1  1 1 0 0
# 0 0 0 0  1 1 0 1
# 0 0 1 1  1 1 0 1

## XOR
print(a ^ b)
# 0 0 1 1  1 1 0 0 
# 0 0 0 0  1 1 0 1
# 1 1 0 0  0 0 0 1

12
61

In [32]:
# 0 0 1 1  1 1 0 0  => 0 1 1 1  1 0 0 0
a << 1

# 0 0 1 1  1 1 0 0  => 1 1 1 1  0 0 0 0  
a << 2

# 0 0 0 0  1 1 0 1 => 0 0 0 0   0 1 1 0
b >> 1

6

Python Assignment Operators

In [35]:
v = w = x = y = z = int(input("Enter a Value: "))

v += 3 
w -= 3
x *= 3
y /= 3
z %= 3

print(v, w, x, y, z)

Enter a Value: 12
15 9 36 4.0 0

Logical Operators

In [41]:
t = True
f = False
print("\n")
print(t and f)
print(t and t)
print(f and f)

print("\n")
print(t or f)
print(t or t)
print(f or f)

print("\n")
print(not(t and f))
print(not(t and t))

False
True
False


True
True
False


True
False

Identity Operators

In [45]:
# is is not

t = True
f = False

print(t is t)
print(t is f)

print("\n")
print(t is not f)

True
False


True

Calculator

In [48]:
num1 = int(input("Enter first Value: "))
num2 = int(input("Enter second Value: "))

print("\n1 Addition")
print("2 Subtraction")
print("3 Multiplication")
print("4 Division")
operator = int(input("Enter Code: "))

sum = num1 + num2
diff = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("\n")
if operator == 1:
  print("The sum is", sum)
elif operator == 2:
  print("The difference is", diff)
elif operator == 3:
  print("The product is", product)
elif operator == 4:
  print("The quotient is", quotient)
else:
  print("You've Entered Wrong Code")

Enter first Value: 3
Enter second Value: 5

1 Addition
2 Subtraction
3 Multiplication
4 Division
Enter Code: 4


The quotient is 0.6