<a href="https://colab.research.google.com/github/BiriiCastro/580003-OOP/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python Fundamentals

In [ ]:
#Python Indentation

if 5 > 2:
  print("Five is greater than Two")

Five is greater than Two

In [ ]:
x = 5
y = 5.5

if x > y:
  print(x, "is greater than", y)
elif x < y:
  print(x, "is less than", y)
else:
  print(x, "is equal to", y)

5 is less than 5.5

In [ ]:
#Python variable wiht multiple values

a, b, c = 0, -1, 2

print("a is", a)
print("b is", b)
print("c is", c)

a is 0
b is -1
c is 2

In [ ]:
print(a)
print(x)

0
4

In [ ]:
#Single variable with multiple values

d = e = f = 4

print(d)
print(e)
print(f)

4
4
4

In [ ]:
print(type(a))
print(type(y))

<class 'int'>
<class 'float'>

In [ ]:
#Output Variable
g = "enjoying"
print("Programming is " + g)

Programming is enjoying

In [ ]:
g = 'enjoying'
h = "Programming is"
print(h, g)
print(h + g)

Programming is enjoying
Programming isenjoying

In [ ]:
def myFunction():
  return False

print(myFunction())

False

In [ ]:
i = 3
j = 4

print(i == j)
print(i != j)

False
True

In [ ]:
def myFunction():
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True

In [ ]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(10 % 5)
print(10 // 5)
print(10 ** 5)

15
5
50
2.0
0
2
100000

Casting

In [3]:
#Casting

a = "Sally"
print(a)

b =int(4)
print(b)

c = float(5)
print(c)

print(type(a))
print(type(b))
print(type(c))

Sally
4
5.0
<class 'str'>
<class 'int'>
<class 'float'>

Double and Single Quotes

In [5]:
#Double and Single Quotes

Y = "JOHN"
y = 'anne'

print(y, z)

anne john

Concatenation

In [9]:
k = "Python is "
l = "enjoying"
print(k + l)

print("\nPython is "+ l)

Python is enjoying

Python is enjoying